:root {
    --navBar-hover: #BAC964;
    --color-principal:#444;
    --color-logo: #BAC964;
    --bg-principal: #FFF;
    --bg-footer: #F5F5F5;
    --grayLight:#9D9C9C;
    --border-radius: 10px;
    --navBar-activated: #BAC964;

}

