input[type="text"],
textarea{
    padding: 15px;
    display: block;
    width: 250px;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid hotpink;
}

input[type="submit"],
button{
    color: hotpink;
    margin-top: 15px;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--navBar-hover);
    padding:15px;
    border-radius: 5px;
    transition: 300ms;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover,
button:hover{
    color: #BAC964;
    background-color: white;
    border-bottom: 3px double hotpink;
}

input[type="text"]:focus, textarea:focus{
    outline: none;
    border-bottom: 2px solid var(--navBar-hover);
}
